validate.required:
  other: "{{.Field}} is required"

validate.email:
  other: "{{.Field}} must be a valid email address"

validate.min:
  other: "{{.Field}} must be greater than or equal to {{.Param}}"

validate.max:
  other: "{{.Field}} must be less than or equal to {{.Param}}"

validate.len:
  other: "{{.Field}} must have a length equal to {{.Param}}"

validate.oneof:
  other: "{{.Field}} must be one of: {{.Param}}"

validate.gt:
  other: "{{.Field}} must be greater than {{.Param}}"

validate.gte:
  other: "{{.Field}} must be greater than or equal to {{.Param}}"

validate.lt:
  other: "{{.Field}} must be less than {{.Param}}"

validate.lte:
  other: "{{.Field}} must be less than or equal to {{.Param}}"
