validate.required:
  other: "{{.Field}} 为必填项"

validate.email:
  other: "{{.Field}} 必须是合法的邮箱地址"

validate.min:
  other: "{{.Field}} 的最小值或最短长度必须大于等于 {{.Param}}"

validate.max:
  other: "{{.Field}} 的最大值或最长长度必须小于等于 {{.Param}}"

validate.len:
  other: "{{.Field}} 的长度必须等于 {{.Param}}"

validate.oneof:
  other: "{{.Field}} 必须是以下值之一: {{.Param}}"

validate.gt:
  other: "{{.Field}} 必须大于 {{.Param}}"

validate.gte:
  other: "{{.Field}} 必须大于等于 {{.Param}}"

validate.lt:
  other: "{{.Field}} 必须小于 {{.Param}}"

validate.lte:
  other: "{{.Field}} 必须小于等于 {{.Param}}"
